.small
	h3.center
		span.nonsplit
			span.heading Elixir(エリクサー) &nbsp;
			img.heading src="resources/images/logo.png"

	markdown:
		* José Valimが2013年に開発した並列プログラミング言語
		* 関数型言語であるが，言語モデルがシンプルで習得しやすい
			* Ruby の影響を受けた記法で，簡潔に記述できる
		* Erlang VM (BEAM) 上で動作する
			* 並列性に優れている
				* 関数型言語なので，変数がイミュータブルで状態を持たない
				* マルチコア環境で各コアに変数をコピーしても排他制御・同期する必要がない
				* コア数に応じて比例に近い形で実行速度が伸びる
			* 耐障害性が高い
				* プロセスごとにGCなどのメモリ管理を行う
				* もしあるプロセスがメモリが原因で動作不良になっても他のプロセスには影響しない
				* 動作不良になったときにプロセスごとに再起動することもできる
				* 結果として耐障害性を飛躍的に高めることができる
