h2.center
	span.nonsplit
		span.heading.strong Elixir &nbsp;
		img.heading30 src="resources/images/logo.png"
		span.heading って何よ？

.large
	ul
		li
			span.strong
				s 化粧品？
			span &nbsp; → それは 
			span.strong ELIXIR エリクシール
			span 。。。
