.small
	h3.center
		span.nonsplit
			span.heading Elixir と Phoenix &nbsp;

	markdown:
		* Elixirにはウェブサーバー構築フレームワークPhoenixがある
			* Ruby on Rails に似た記述性・保守性
			* 大量のアクセスを処理することができる
				* Elixirの軽量プロセスにより同時セッション最大数が大きい
				* WebSocketが極めて高速である
			* 耐障害性が極めて高い
				* Elixirのもつ優れた耐障害性を引き継ぐ
		* **IoTの急拡大でインターネットのデータ流通量が爆発的に増大しても耐えうる**
			* 我々の予測では2020年の後には現在の200〜500倍ものデータ流通量になる
			* 既存の手法では追いつかず，システムダウンが多発するだろう
			* **Elixir/Phoenixはこのデータ流通量に耐えうるソリューションである**
