markdown:
	### 告知〜夏のfukuoka.ex祭=技術のパラダイムシフト

img.image400 src="resources/images/fukuokaex_logo_community.png"

p.center.strong 8月24日(金) 19:00〜 LINE Fukuoka にて開催！

p.center.strong 内容の濃いセッションが6つあります！

p.center.small 山崎も「ZEAM開発ログ第4回: Pythonを捨ててElixirに移行する日」をしゃべります！

p.center.small
	span お申込みは&nbsp;
	a href="https://fukuokaex.connpass.com" https://fukuokaex.connpass.com
	span &nbsp;まで！