h2 バリ高速化するんだったら...

img.icon200 src="resources/images/GPU.jpg"

p.center.strong GPUは必須でしょう！

.small
	markdown:
		* コア数が桁違いに多い
			* Intel Xeon: 論理コア数〜20数個
			* NVIDIA GeForce GTX 1080 Ti: **3000個以上！**
		* **SIMD** (単一命令列，複数データ列)アーキテクチャ
		* 次のような場合に高速に計算できる
			* **単純で均質で大量にあるデータ**を
			* **同じような命令列**で処理する場合
		* つまりどんな計算？
			* 画像処理，機械学習，ブロックチェーン
