h2.center
	span.nonsplit ZEAM: 厨二病的処理系研究開発
h3.center
  span.nonsplit
    span.heading 北九州市立大学 山崎 進 &nbsp;
  img.heading src="resources/images/ZACKY-3000.jpg"
img.image400 src="resources/images/fukuokaex_logo_only_original.png"
