markdown:
	## 最近の私のテーマ

.large
	p.center
		span.nonsplit.strong Elixir のバリ高速な処理系を
		span.nonsplit.strong フルスクラッチで作るバイ！！！

p.center
	span.small ※ 私は本当は東京出身です！
	br
	span.strong.large でも北九州こそ私の真のホームグラウンドです！

